# Ignore Windows diagnostic folder
ElevatedDiagnostics/

# Exclude android folder to use Continuous Native Generation (Prebuild)
# This ensures native modules are properly configured during the build
/android
